DATABASE_URL=
NODE_ENV=development
SESSION_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SEED_USER_1_NAME=
SEED_USER_1_EMAIL=
SEED_USER_1_PASSWORD=
SEED_USER_2_NAME=
SEED_USER_2_EMAIL=
SEED_USER_2_PASSWORD=
SEED_USER_3_NAME=
SEED_USER_3_EMAIL=
SEED_USER_3_PASSWORD=
SEED_USER_4_NAME=
SEED_USER_4_EMAIL=
SEED_USER_4_PASSWORD=
